<!doctype html>
<html lang="en">
<head>
	<style>
		body{
			font-family: Tahoma, "Trebuchet MS", sans-serif;
		}
	</style>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Signup</title>
</head>
<body>
	<h1>Signup</h1>
	<form method="post" action="/user">
		<label>Full Name *</label>
		<input type="text" name="name" required/>
		<label>Email *</label>
		<input type="email" name="email" required/>
		<label>Password *</label>
		<input type="password" name="password" required/>
		<button type="submit">Signup</button>
	</form>
</body>
</html>